/*  Index */
.Index {
    padding: 10px 30px !important;
    
  }
  .IndexP{
display: flex;
  }
  .IndexP p{
text-align: center;
margin: 150px;
  }
    .IndexBtn{
text-align: center;
  }

.Titre {
    background: linear-gradient(to right, #a83b08, rgb(248, 187, 131));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
  }
  .imgHome {
      width: 40%;
    }
.bouton {
  background-color: #F5D0A9;
  color: #fff;
}
.bouton:hover {
  background-color: #fba88d;
  color: #fff;
}

.bouton-login {
  border-radius: 30px;
}

nav {
  background-color: #fff;
}

body {
  background-image: linear-gradient(62.5deg, #ffecd2 0%, #E3CEF6 100%);
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}
 

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}

  .row{
    padding-bottom: 10px;
  }
/*  Footer */
 .footer {
    background-color: #BCA9F5;
    padding: 20px 30px 0;
    border: white;
    display: inline-flex;
    width: 100%;
    position: relative;
    height: 15%;
  }

  .footer-links {

    color: white;
    text-decoration: none;
    margin-left: 25px;
  }

  .footer-contact {
    float: right;
    margin-bottom: 150px;
    justify-content: center;

  }
  